
.zalando-sans-header {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 475%;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #0c3869;
}

.tasa-orbiter {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.linkstyle1 {
  color: #087c8e;
}

.linkstyle1:hover,.linkstyle1:visited {
  color: #0C2B4E;
}

.linkstyle2 {
  color: #0C2B4E;
}

.linkstyle2:hover,.linkstyle2:visited {
  color: #087c8e;
}

em.emphasizedtext1 {
  color:#088295 ;;
  font-style: normal;
}

em.emphasizedtext2 {
  color: #a0e1ec;
  font-style: normal;
}

/* navbar */
#navbar {
  background-color: #087c8e;
}

.navbar {
  padding: 1rem 0 1rem 0;
}

.navbar-brand {
  font-family: 'Fuzzy Bubbles';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

h1 {
  padding-bottom: 2%;
}

/* poetry */
#poetry {
  background-color: #8bc5cf;
  padding: 5% 8%;
}

.poetryheader {
  z-index: 2;
}

.opener {
  border-radius: 5px;
  background-color: white;
  padding: 3% 2% 2% 2%;
  margin-top: -60px;
  z-index: 1;
}

#WILpoetry {
  background-color: #0C2B4E;
  padding: 3rem;
}

.wilpoetryheader {
  font-variant: small-caps;
  font-size: xx-large;
}

#whitecontainer {
  background-color: white;
  padding: 5%;
  border-radius:1% ;
}

.skilldiv {
  margin-left: 4%;
}

.skillbox {
  margin-top: 2%;
  text-align: center;
}

.poemskills {
  font-size: larger;
  font-family: "Zalando Sans", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color:#087c8e;
  text-shadow: 1px 1px 2px #d0c6c6 ;
}

.poemDesc {
  line-height: 20px;
}

/* prose */
#prose {
  background-color: #8bc5cf;
  padding: 6% 8%;
}

.cncards {
  align-content: space-evenly;
}

#proseBlurb {
  background-color: #0C2B4E;
  padding: 2% 3%;
  border-radius: 20px;
}

#proseHeader {
  color: white;
  text-align: center;
  font-variant: small-caps;
  padding-top: 4%;
}

#proseDesc {
  color: white;
  padding-top: 4%;
}

.proseopen {
  margin-bottom: 2%;
}

.prose {
  font-variant: small-caps;
  font-size: large;
}

/*anthology */
#anthology {
  background-color: #0C2B4E;
  padding: 3rem;
  color:white;
}

#anthimg {
  margin: 1rem;
}

h2 {
  text-align: center;
}

.anthcontainer {
  margin: 5%;
}

.anthlink {
  font-size: large;
  color: white;
}

.anthlink:hover,.anthlink:active {
  font-size: large;
  color: #8bc5cf;
}

.anthlink:visited {
  font-size: large;
  color: #8bc5cf;
}

/* footer */
.col-lg-9 {
  margin-top: 20px 0 0 0;
}

.ctaheading2 {
  padding-top: 4%;
}

#footer {
  background-color: #087c8e;
  padding: 3% 2% 2% 2%;
  text-align: center;
}