/* navbar */
#navbar {
  background-color: #087c8e;
}

.navbar {
  padding: 1rem 0 1rem 0;
}

.navbar-brand {
  font-family: 'Fuzzy Bubbles';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

h1 {
  padding-bottom: 2%;
}

/* poetry */
#poetry {
  background-color: #8bc5cf;
  padding: 6% 8%;
}

#WILpoetry {
  background-color: #0C2B4E;
  padding: 3rem;
}

#whitecontainer {
  background-color: white;
  padding: 5%;
  border-radius:1% ;
}

/* prose */
#prose {
  background-color: #8bc5cf;
  padding: 6% 8%;
}

#proseBlurb {
  background-color: #0C2B4E;
}


/*anthology */
#anthology {
  background-color: #0C2B4E;
  padding: 3rem;
  color:white;
}

#anthimg {
  margin: 1rem;
}

h2 {
  text-align: center;
}

/* footer */
#footer {
  background-color: #087c8e;
  padding: 3% 2% 2% 2%;
  text-align: center;
}